absl-py==2.2.2
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
colorama==0.4.6
Cython==3.0.12
dm-env==1.6
dm-tree==0.1.8
dm_control==1.0.30
etils==1.5.2
fasteners==0.19
fsspec==2025.3.2
glfw==2.9.0
idna==3.10
imageio==2.37.0
importlib_resources==6.5.2
keyboard==0.13.5
labmaze==1.0.6
lxml==5.4.0
mujoco==3.3.2
mujoco-py==2.1.2.14
numpy==2.0.2
pillow==11.2.1
protobuf==6.30.2
pycparser==2.22
PyOpenGL==3.1.9
pyparsing==3.2.3
requests==2.32.3
scipy==1.13.1
tqdm==4.67.1
trimesh==4.6.8
typing_extensions==4.13.2
urllib3==2.4.0
zipp==3.21.0
viser
jax
jaxlie
jaxls
yourdfpy
